extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title

block contents
	if items.length > 0
		.row
		
			for item in items
				.col-md-3
					.panel.panel-default
						.panel-heading
							if item.guide
								strong: a( href=item.guide target="_blank" )=item.name
							else
								strong=item.name
							.label.pull-right( style="padding-top: 0.3em;" class=( item.status.colour ? "label-" + item.status.colour : "label-default" ) ) #{ item.status.text }
						.panel-body
							| #{ item.description }
							
						if item.status.updated
							.panel-footer
								small: em Last updated #{ moment( item.status.updated ).fromNow() }.
	else
		+messageBlock( 'info', 'No items currently report there status to this system.' )
