if members.length > 0
	p Members: #{ members.length }
	hr
	table.table.table-striped.table-hover.table-condensed
		colgroup
			col( style="width: 5%" )
			col( span="2", style="width: 10%" )
			col( style="width: 15%" )
			col( span="6", style="width: 10%;" )
		thead
			tr
				th Gravatar
				th First name
				th Last name
				th Email
				if access == 'superadmin'
					th Activation
					th Profile
					th Discourse
					th GoCardless
					th Tag
				th Permissions
		tbody
			each member, m in members
				tr( title="View Member ", data-href="/admin/members/" + member.uuid, style="cursor: pointer;" )
					td: img( style="border-radius: 100%", src=member.gravatar + "?s=50&d=mm&r=g" )
					td #{ member.firstname }
					td #{ member.lastname }
					td #{ member.email }
					if access == 'superadmin'
						td: a.btn.btn-sm( title="Edit Activation", href="/admin/members/" + member.uuid + "/activation", class=( member.activated ? 'btn-success' : 'btn-default' ) )
							span.glyphicon.glyphicon-ok
						td: a.btn.btn-sm.btn-default( title="Edit Profile", href="/admin/members/" + member.uuid + "/update" )
							span.glyphicon.glyphicon-pencil
						td: a.btn.btn-sm( title="Edit Discourse" href="/admin/members/" + member.uuid + "/discourse", class=( member.discourse.activated ? 'btn-success' : 'btn-default' ) )
							span.glyphicon.glyphicon-book
						td: a.btn.btn-sm( title="Edit GoCardless" href="/admin/members/" + member.uuid + "/gocardless", class=( member.discourse.activated ? 'btn-success' : 'btn-default' ) )
							span.glyphicon.glyphicon-piggy-bank
						td: a.btn.btn-sm( title="Edit Tag" href="/admin/members/" + member.uuid + "/tag", class=( member.tag.id ? 'btn-success' : 'btn-default' ) )
							span.glyphicon.glyphicon-credit-card
					td: a.btn.btn-sm.btn-default( title="Edit Permissions" href="/admin/members/" + member.uuid + "/permissions" )
						span.glyphicon.glyphicon-tag
else
	p No members found.
