case payment.status
	when 'payment_created'
		span.label.label-default( title=payment.status ) Scheduled
	when 'payment_submitted'
		span.label.label-info( title=payment.status ) Processing
	when 'payment_confirmed'
		span.label.label-primary( title=payment.status ) Collected
	when 'payment_paid_out'
		span.label.label-success( title=payment.status ) Paid
	when 'mandate_cancelled'
		span.label.label-danger( title=payment.status ) Cancelled
	when 'bank_account_closed'
		span.label.label-danger( title=payment.status ) Account Closed
	when 'refer_to_payer'
		span.label.label-danger( title=payment.status ) Refer to Payer
	when 'direct_debit_not_enabled'
		span.label.label-danger( title=payment.status ) Direct Debit Not Enabled
	default
		span.label.label-default( title=payment.status ) #{ payment.status }
