extends /src/views/base.pug

block prepend title
	- title = 'Transactions'
	- activeapp = 'reports'

block append js
	script( type="text/javascript" ).
		jQuery(document).ready(function($) {
			$("tr[data-href]").click(function() {
				window.document.location = $(this).data("href");
			});
		});

block contents
	.row
		.col-md-3
			h3( style="margin-bottom: 0; font-weight: normal;" ) #{ title }:
			h1( style="margin-top: 0; margin-bottom: 0;" ) #{ moment( start ).format( 'MMMM' ) }
			h2( style="margin-top: 0;" ) #{ moment( start ).format( 'Y' ) }
	.row
		.col-md-12
			nav( aria-label="..." )
				ul.pager
					li.previous
						a( href="/reports/transactions/" + moment( previous ).format( 'Y' ) + "/"  + moment( previous ).format( 'M' ) )
							span( aria-hidden="true" ) &larr;&nbsp;
							| #{ moment( previous ).format( 'MMMM' ) }
					if moment( next ).isBefore( moment() )
						li.next
							a( href="/reports/transactions/" + moment( next ).format( 'Y' ) + "/"  + moment( next ).format( 'M' ) ) #{ moment( next ).format( 'MMMM' ) }
								span( aria-hidden="true" ) &nbsp;&rarr;
			if payments.length > 0
				.table-responsive
					table.table.table-striped.table-hover.table-condensed
						thead
							tr
								th User
								th Payment ID
								th Subscription ID
								th Created
								th Updated
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									if payment.member
										td: a( href="/members/" + payment.member.uuid ) #{ payment.member.fullname }
									else
										td –
									td: a( href="https://manage.gocardless.com/payments/" + payment.payment_id, target="_blank" ) #{ payment.payment_id }
									td: a( href="https://manage.gocardless.com/subscriptions/" + payment.subscription_id, target="_blank" ) #{ payment.subscription_id }
									td #{ moment( payment.created ).format( 'HH:mm DD/MM/YYYY' ) }
									td #{ payment.amount ? moment( payment.updated ).format( 'HH:mm DD/MM/YYYY' ) : '–' }
									td #{ moment( payment.charge_date ).format( 'DD/MM/YYYY' ) }
									td #{ payment.description }
									td
										include /apps/profile/apps/statement/views/partials/status.pug
									td #{ payment.amount ? '£' + payment.amount : '–' }
						tfoot
							tr
								th( colspan=8 ) Total
								th £#{ total }
			else
				+messageBlock( 'info', 'There are no transactions this month.' )
