extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'statement'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( title )
			if payments.length > 0
				.table-responsive
					table.table.table-striped.table-hover.table-condensed
						thead
							tr
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									td
										time( datetime=moment( payment.charge_date, moment.ISO_8601 ) ) #{ moment( payment.charge_date ).format( 'd/M/Y' ) }
									td #{ payment.description }
									td
										include partials/status.pug
									td
										if payment.amount
											| &pound;#{ payment.amount }
										else
											| &mdash;
			else
				+messageBlock( 'info', 'You have no payment history at this time.' )

			if historic.length > 0
				+page_header( 'Historic Payments' )
				.table-responsive
					table.table.table-striped.table-hover.table-condensed
						thead
							tr
							th Charge Date
							th Description
							th Status
							th Amount
						tbody
							each payment, p in historic
								tr
									td
										time( datetime=moment( payment.created, moment.ISO_8601 ) ) #{ moment( payment.created ).format( 'd/M/Y' ) }
									td Membership
									td
										include partials/status.pug
									td
										if payment.renumeration
											| &pound;#{ payment.renumeration }
										else
											| &mdash;
