form( method="post" )
	+csrf
	if ! partial
		.form-group
			label( for="permission" ) Permission:
			select( name="permission" )#permission.form-control
				option( disabled selected ) –
				each permission, p in permissions
					if can_admin( permission.slug )
						option(
							selected=( current != undefined && permission.slug == current.permission.slug ),
							value=permission.slug
						) #{ permission.name }
	.form-group
		label Start
		br
		if current != undefined && current.date_added
			- date = current.date_added
		else
			- date = moment()
		input( type="time", name="start_time", value=moment( date ).format( 'HH:mm' ), style="display: inline; width: auto;" ).form-control
		| &nbsp;
		input( type="date", name="start_date", value=moment( date ).format( 'YYYY-MM-DD' ), style="display: inline; width: auto;" ).form-control
	.form-group
		label Expires
		br
		input( type="time", name="expiry_time", value=( current && current.date_expires ? moment( current.date_expires ).format( 'HH:mm' ) : '' ), style="display: inline; width: auto;" ).form-control
		| &nbsp;
		input( type="date", name="expiry_date", value=( current && current.date_expires ? moment( current.date_expires ).format( 'YYYY-MM-DD' ) : '' ), style="display: inline; width: auto;" ).form-control
	if access( 'superadmin' )
		.form-group
			label Administer
			br
			label( for="admin" )
				input( type="checkbox", name="admin", checked=( current && current.admin ? true : false ) )#admin
				| Can administer other members with this permission.
	.form-group
		button.btn.btn-primary #{ action }
