+page_header( 'Profile' )
dl.dl-horizontal
	dt Email
	dd  #{ member.email }
	dt Delivery opt in?
	dd #{ member.delivery_optin ? 'Yes' : 'No' }
	if member.delivery_optin
		dt Delivery address
		dd
			| #{ member.delivery_address.line1}
			br
			if member.delivery_address.line2
				| #{ member.delivery_address.line2}
				br
			| #{ member.delivery_address.city}
			br
			| #{ member.delivery_address.postcode}
