+page_header( 'System' )
dl.dl-horizontal
	dt UUID
	dd #{ member.uuid }
	if access( 'superadmin' )
		dt DB ID
		dd #{ member._id }
	dt Joined
	dd #{ moment( member.joined ).format( 'HH:mm:ss DD/MM/YYYY' ) }
	dt Last seen
	dd #{ member.last_seen ? moment( member.last_seen ).format( 'HH:mm:ss DD/MM/YYYY' ) : '–' }
	dt Activated
	dd #{ member.activated ? 'Yes' : 'No' }
	dt Signup override
	dd #{ member.signup_override ? 'Yes' : 'No' }
