extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			h3( style="margin-bottom: 0; font-weight: normal;" ) #{ app.title }:
			h1( style="margin-top: 0; margin-bottom: 0;" ) #{ moment( searchDate ).format( 'MMMM' ) }
			h2( style="margin-top: 0;" ) #{ moment( searchDate ).format( 'Y' ) }
			nav( aria-label="..." )
				ul.pager
					li.previous
						a( href="?year=" + moment( previous ).format( 'Y' ) + "&month=" + moment( previous ).format( 'M' ) + "&permission=" + selected.permission + "&successful=" + ( selected.successful ? 'on' : '' ) + "&unsuccessful=" + ( selected.unsuccessful ? 'on' : '' ) )
							span( aria-hidden="true" ) &larr;&nbsp;
							| #{ moment( previous ).format( 'MMMM' ) }
					if moment( next ).isBefore( moment() )
						li.next
							a( href="?year=" + moment( next ).format( 'Y' ) + "&month=" + moment( next ).format( 'M' ) + "&permission=" + selected.permission + "&successful=" + ( selected.successful ? 'on' : '' ) + "&unsuccessful=" + ( selected.unsuccessful ? 'on' : '' ) ) #{ moment( next ).format( 'MMMM' ) }
								span( aria-hidden="true" ) &nbsp;&rarr;
			form
				.form-group
					label( for="successful" )
						input( name="successful", type="checkbox", checked=( selected.successful != undefined && selected.successful == 'on' ? true : false ) )#successful
						|  Successful
				.form-group
					label( for="unsuccessful" )
						input( name="unsuccessful", type="checkbox", checked=( selected.unsuccessful != undefined && selected.unsuccessful == 'on' ? true : false ) )#unsuccessful
						|  Unsuccessful
				hr
				.form-group
					input( name="month", type="hidden", value=moment( searchDate ).format( 'MM' ) )
					input( name="year", type="hidden", value=moment( searchDate ).format( 'YYYY' ) )
					button.btn.btn-primary Filter
		.col-md-9
			if events.length > 0
				each event, e in events
					if event.split || e == 0
						if event.split
							</ul>
							</div>
						<div class="panel panel-default">
							.panel-heading
								if moment( event.happened ).date() == moment().date()
									- relative = true
									h3.panel-title Today
								else if moment( event.happened ).date() == moment().date() - 1
									h3.panel-title Yesterday
								else
									h3.panel-title #{ moment( event.happened ).format( 'dddd Do MMMM Y' ) }
							<ul class="list-group">
								include partials/event.pug
					else
						include partials/event.pug
				</div>
			else
				+messageBlock( 'info', 'There are no events to display.' )
