doctype html
html
	head
		meta( charset="utf-8" )
		link( rel="shortcut icon" href="/imgs/favicon.ico" )
		block title
			if title
				title #{ title } &mdash; #{ config.title } &mdash; #{ config.organisation }
			else
				title #{ config.title } &mdash; #{ config.organisation }
		block head
			block css
				link( rel="stylesheet", href="/css/theme.min.css" )
				link( rel="stylesheet", href="/css/style.css" )
			block js
				script( src="/js/jquery.js" )
				script( src="/js/bootstrap.js" )
				script( src="/js/script.js" )
	body
		block body
			.container
				a( href="/" ).logo
				block navbar
					include partials/navbar.pug
				block breadcrumb
					include partials/breadcrumb.pug
				include partials/flash.pug
				block heading
					if heading
						.page-header
							h2 #{ heading }
				block contents
				block footer
					.row
						.col-md-12
							hr
							small.text-muted #{ config.organisation }, #{ config.title } &mdash;
								|  
								a( href="https://github.com/southlondonmakerspace/membership-system", target="_blank" ) Contribute on GitHub
							small.text-muted.pull-right
								| v#{ git.tag } / #{ git.hash }
