if event.successful || ( ! event.successful && event.permission.event_unauthorised )
	li.list-group-item( class=( event.successful == false ? 'list-group-item-danger' : '' ) )
		if event.member && event.permission
			a( href="/members/" + event.member.uuid ) #{ event.member.fullname }
			| &nbsp;
			if event.successful
				a( href="/members/?permission=" + event.permission.slug ) #{ event.permission.event_name }
			else
				a( href="/members/?permission=" + event.permission.slug ) #{ event.permission.event_unauthorised }
		if event.item && event.state
			| The #{ event.item.name } #{ event.state.pastTense }.
		if relative
			span.badge
				time( datetime=moment( event.happened, moment.ISO_8601 ), title=moment( event.happened ).format( 'HH:mm:ss D/M/Y' ) ) #{ moment( event.happened ).fromNow() }
		else
			span.badge
				time( datetime=moment( event.happened, moment.ISO_8601 ), title=moment( event.happened ).format( 'HH:mm:ss D/M/Y' ) ) #{ moment( event.happened ).format( 'HH:mm' ) }
