if breadcrumb.length > 0
	ol.breadcrumb #{ '\n' }
		li: a( href="/" ) Home
		| #{ '\n' }
		each crumb, c in breadcrumb
			if crumb.url && c < breadcrumb.length - 1
				li: a( href=crumb.url ) #{ crumb.name }
				| #{ '\n' }
			else
				li.active #{ crumb.name }
				| #{ '\n' }
