extends /src/views/base.pug

block prepend title
	- title = 'Your Contribution'

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Your Contribution' )
			if pending_update.amount
				.alert.alert-info
					| You have updated your contribution and will be charged
					| £#{ pending_update.amount } from
					| #{ moment( pending_update.date ).format('DD/MM/YYYY') }
			.row
				.col-md-8
					if amount
						p You currently pay £#{ amount } #{ period }.
					h4 Update your contribution
					p You can change your contribution amount here
					form( method='post', action='/profile/direct-debit/update-subscription').form-horizontal
						+csrf

						.form-group
							label( for='amount' ).col-md-3.control-label Amount
							.input-group.col-md-4
								span.input-group-addon £
								input( type='number', name='amount', id='amount', value=pending_update.amount || amount, required, min=1, step=1 ).form-control
								span.input-group-addon .00
							label.col-md-3.control-label Period
							.col-md-4
								input( type='text', readonly, disabled, value='monthly' ).form-control

						+form_button( 'Update contribution', 'primary', { left: 3, right: 4 } )
					p
						| To change your contribution period please contact
						| #[a(href='mailto:' + Options( 'membership-support-email' )) membership support]
			.row
				.col-md-8
					h4 Cancel your membership
					p If you wish to cancel your membership
					a( href="/profile/direct-debit/cancel-subscription" ).btn.btn-danger.outline Cancel Membership
