extends /src/views/base.pug

block prepend meta
	- shareTitle = 'Join the Bristol Cable today!'
	- shareDescription = 'Become a member of local media created and owned by the people of Bristol.'
	- shareUrl = '/join'

block prepend title
	- title = app.title

block append js
	script(src='/static/js/join.js')

mixin giftsList(gifts, amount)
	ul.join-gifts
		li(data-amount=amount).join-gifts__note.small.hidden.js-join-gift-note Only available at £#{amount} or more
		each gift in gifts
			li.join-gifts__item
				input(type='radio', id='gift_' + gift.id, name='referralGift', value=gift.id, required, data-amount=amount).js-join-gift
				label(for='gift_' + gift.id)
					img(src='/static/imgs/join/gifts/mug.jpg').join-gift-img
					small.join-gift-name= gift.name
			li(data-id=gift.id).join-gifts__item-details.hidden.js-join-gift-details
				img(src='/static/imgs/join/gifts/mug.jpg').join-gifts__item-details__img
				h4= gift.name
				p.small= gift.description
				if gift.options
					each option in gift.options
						p.small
							span.join-gift-option= option.id
							each value in option.values
								label.join-gift-option-value
									input(type='radio', name='referralGiftOptions[' + option.id + ']', value=value)
									= value

block body
	header.join-header#join
		.join-header__bg

		form(method='POST').join-form.js-join-form
			+csrf

			if user
				p.alert.alert-warning
					| You're already a member! Not #{user.firstname}?
					| #[a(href='/logout') Click here] to logout

			.join-title
				div
					img(src='/static/svg/logo.svg').join-title-logo
				h1 Own your#[br]media

			if referrer
				.join-referrer
					.join-referrer-icon
						<svg xmlns="http://www.w3.org/2000/svg" width="70" height="105" viewBox="4 0 16 24"><path fill="white" d="M14.5 15h1.5v9l-3.958-3-4.042 3v-9h1.463c.83.582 1.381 1 2.537 1 .975 0 1.88-.415 2.5-1zm-2.5-12c-2.205 0-4 1.794-4 4s1.795 4 4 4c2.206 0 4-1.794 4-4s-1.794-4-4-4zm6.926 5.277c.051.147.074.297.074.445 0 .449-.222.883-.615 1.156-1.256.87-1.09.651-1.562 2.067-.198.591-.77.99-1.414.99h-.004c-1.549-.005-1.279-.088-2.528.789-.262.184-.569.276-.877.276s-.615-.092-.876-.275c-1.249-.878-.98-.794-2.528-.789h-.004c-.645 0-1.216-.399-1.413-.99-.473-1.417-.311-1.198-1.562-2.067-.395-.274-.617-.708-.617-1.157 0-.148.024-.298.074-.444.483-1.411.484-1.139 0-2.555-.05-.147-.074-.297-.074-.445 0-.45.222-.883.616-1.157 1.251-.868 1.089-.648 1.562-2.067.197-.591.769-.99 1.413-.99h.004c1.545.005 1.271.095 2.528-.79.262-.183.569-.274.877-.274s.615.091.876.274c1.249.878.98.795 2.528.79h.004c.645 0 1.216.399 1.414.99.473 1.416.307 1.197 1.562 2.067.394.273.616.707.616 1.156 0 .148-.023.299-.074.445-.483 1.41-.485 1.139 0 2.555zm-1.926-1.277c0-2.761-2.238-5-5-5-2.761 0-5 2.239-5 5s2.239 5 5 5c2.762 0 5-2.239 5-5z"/></svg>
					div
						h3.join-referrer-hello #{referrer.firstname} thinks you should join the Cable
						p.
							We agree! Become a member today and we'll
							#[b send you both a gift as a thank you] for helping
							us sustain independent local journalism.

			include /src/views/partials/flash.pug

			h3 I'd like to contribute…
			ul.join-options.hidden-nojs
				each amount in [3, 5, 10]
					li.join-options__opt
						- checked = referrer && amount == 5
						input(type='radio', name='amount', id='amount_' + amount, value=amount, required, checked=checked).js-join-amount
						label(for='amount_' + amount).btn £#{amount}#[span.join-monthly /month]

			div.join-other-amount
				input(type='radio', name='amount', value='other', required, checked=!referrer).js-join-other-amount
				label
					.hidden-nojs Or choose an amount…
					span.join-other-amount-box
						span £
						input(type='number', name='amountOther', min=1, step=1, required).join-other-amount-box__input.js-join-other-amount-box
						span.join-monthly /month

			.hidden-js.js-join-form-more
				if referrer
					h3 I'd like my bribe to be a…
					input(type='hidden', name='referralCode', value=referrer.referralCode)
					p.hidden.js-join-sustain.
						Unfortunately we can't send gifts for contributions of less than
						£3, can you afford to give a little more?
					.join-gifts-wrapper
						+giftsList(gifts5, 5)
						+giftsList(gifts3, 3)
					p.join-info.small Find out more about the referral scheme #[a here].
				else
					.hidden.js-join-sustain
						h3 Can you help sustain us?
						p.
							The Cable is dependent on member contributions to stay alive.
							Can you afford to increase your contribution to
							#[b £3 or more]? As a thank you for sustaining independent
							local journalism we’ll #[b send you a quarterly edition]
							of our newspaper.

				h3 I'd like to pay…
				ul.join-options
					li.join-options__opt
						input(type='radio', name='period', id='period_m', value='monthly', required, checked).js-join-period
						label(for='period_m').btn Monthly
					li.join-options__opt
						input(type='radio', name='period', id='period_a', value='annually', required).js-join-period
						label(for='period_a').btn Annually
					li.join-options__opt

				p.hidden-nojs.join-charge You will be charged #[b.js-join-charge £12] today.
				p
					button.btn.join-btn Join

				p.join-info.join-secure.small
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
						path(fill='currentColor', d='M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z')
					| Your payment will be processed securely with GoCardless
					| under the Direct Debit Guarantee scheme.
					|
					a(href='https://www.directdebit.co.uk/DirectDebitExplained/pages/directdebitguarantee.aspx', target='_blank') Read more
					| .

	.container.join-container
		.row
			.col-sm-10.col-md-7.join-center-col
				h2.text-center Why join?
				p.
					The Bristol Cable is a #[b grassroots] community-led media
					cooperative in Bristol.
				p.
					We exist to #[b inform and empower] our readers, members, and
					communities across Bristol, by creating #[b independent],
					challenging local media, rooted in the city and in
					#[b the public interest].

		ul.join-reasons
			li
				.row
					.col-sm-5
						h2 #[span Run] by you
				.row
					.col-sm-7.pull-right
						img(src='/static/imgs/join/photo1.jpg')
					.col-sm-5
						p.
							We're a community cooperative, which means we all decide
							how it's run.
						p.
							Our one member, one vote policy means all members have
							an equal say on decisions.
						p.
							No barons, no billionaires. Just 2,000 (and counting!)
							Bristolians.
			li
				.row
					.col-sm-5.col-sm-offset-7
						h2 #[span Created] by you
				.row
					.col-sm-7.pull-left
						img(src='/static/imgs/join/photo2.jpg')
					.col-sm-5
						p.
							As members we can all contribute to the Cable's
							journalism.
						p.
							At our monthly members' meetings we discuss the
							issues affecting our communities. Drawing on your
							experience and expertise, we can cover the stories
							that no one else is talking about.
			li
				.row
					.col-sm-10.col-md-7.join-center-col
						h2 #[span Made free] by you
						img(src='/static/imgs/join/photo3.jpg')
						p.
							By putting our money together we're able to print
							and distribute our paper for free across Bristol.
						p.
							It's packed with investigative journalism and
							in-depth articles about issues that matter in
							Bristol.
						p.
							Made free to access by members, because we believe
							journalism is a public good everyone should have
							access to.
	.join-footer
		.join-title
			div
				img(src='/static/svg/logo.svg').join-title-logo
			h1 Ready to#[br]be a part?
		.text-center
			h3 Join 2,000 people who own their media
			a(href='#join').btn.join-btn Join now
