extends ../../../src/views/base.pug

block navbar

block prepend title
	- title = app.title

block append js
	script( src="/js/password-requirements.js" )

block append css
	link( rel="stylesheet", href="/css/password-requirements.css" )

block contents
	.row
		.col-md-8
			.page-header
				h2 #{ app.title }
			p Thanks for choosing to join #{ config.organisation }, just so you know, you have got to be over 18 to become a member.
			form( method="post" ).form-horizontal
				include ../../../src/views/partials/csrf.pug
				.form-group
					.col-md-12
						.page-header
							h3 Login Details
						p To keep things simple we use your email address as your login username.
				.form-group
					label( for="email" ).col-md-3 Email
					.col-md-5
						input( name="email", type="email", value=user.email )#email.form-control
				.form-group
					label( for="password" ).col-md-3 Password
					.col-md-5
						input( name="password", type="password" )#password.form-control.pw-req
				.form-group
					label( for="verify" ).col-md-3 Verify password
					.col-md-5
						input( name="verify" type="password" )#verify.form-control.pw-mat
				.form-group
					.col-md-12
						.page-header
							h3 Personal Details
						p As a membership organisation, we are legally required to keep your name and address on record and available for inspection.
				.form-group
					label( for="firstname" ).col-md-3 First Name
					.col-md-5
						input( name="firstname", type="text", value=user.firstname )#firstname.form-control
				.form-group
					label( for="lastname" ).col-md-3 Last Name
					.col-md-5
						input( name="lastname", type="text", value=user.lastname)#lastname.form-control
				.form-group
					label( for="address" ).col-md-3 Address
					.col-md-5
						textarea( name="address", rows=4 )#address.form-control #{ user.address }
				hr
				.form-group
					.col-md-12
						button.btn.btn-primary.pull-right Next
							span.glyphicon.glyphicon-chevron-right
		.col-md-4
			.page-header
				h2 Existing member
			p If you are already a member you can just login...
			include ../../login/views/partials/form.pug
