extends ../../../src/views/base.pug

block navbar

block prepend title
	- title = app.title

block append js
	script( type="text/javascript" ).
		jQuery(document).ready(function($) {
			jQuery( '#password' ).popover( {
				trigger: 'focus',
				title: 'Password requirements:',
				content: '<p class="pw len">8 characters or more</p><p class="pw up">1 or more uppercase letters</p><p class="pw low">1 or more lowercase letters</p><p class="pw num">1 or more numbers</p>',
				html: true
			} );
			jQuery( '#password' ).on( 'keyup paste', function( e ) {
				var pw = jQuery( this ).val();

				if ( pw.length < 8 ) {
					jQuery( '.pw.len' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.len' ).addClass( 'pass');
				}

				if ( pw.match( /\d/g ) == null ) {
					jQuery( '.pw.num' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.num' ).addClass( 'pass');
				}

				if ( pw.match( /[A-Z]/g ) == null ) {
					jQuery( '.pw.up' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.up' ).addClass( 'pass');
				}

				if ( pw.match( /[a-z]/g ) == null ) {
					jQuery( '.pw.low' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.low' ).addClass( 'pass');
				}
			} );
		} );

block append css
	style.
		.pw {
			line-height: normal;
			margin-bottom: 0.5em;
		}

		.pw:last-child {
			margin-bottom: 0;
		}

		.pw:before {
			font-family: "Glyphicons Halflings";
			content: "\e014";
			color: #d9534f;
			margin-right: 0.5em;
			vertical-align: middle;
		}

		.pw.pass:before {
			content: "\e013";
			color: #5cb85c;
		}

block contents
	.row
		.col-md-8
			.page-header
				h2 #{ app.title }
			p Thanks for choosing to join #{ config.organisation }, just so you know, you have got to be over 18 to become a member.
			form( method="post" )
				h3 Login Details
				p To keep things simple we use your email address as your login username.
				p( style="max-width: 400px;" )
					label( for="email" ) Email:
					input( name="email", type="email", value=user.email )#email.form-control
				p( style="max-width: 400px;" )
					label( for="password" ) Password:
					input( name="password", type="password" )#password.form-control
				p( style="max-width: 400px;" )
					label( for="verify" ) Verify password:
					input( name="verify" type="password" )#verify.form-control
				h3 Personal Details
				p As a membership organisation, we are legally required to keep your name and address on record and available for inspection.
				p( style="max-width: 400px;" )
					label( for="firstname" ) First Name:
					input( name="firstname", type="text", value=user.firstname )#firstname.form-control
				p( style="max-width: 400px;" )
					label( for="lastname" ) Last Name:
					input( name="lastname", type="text", value=user.lastname)#lastname.form-control
				p( style="max-width: 400px;" )
					label( for="address" ) Address:
					textarea( name="address" )#address.form-control #{ user.address }
				hr
				p
					button.btn.btn-primary Next
						span.glyphicon.glyphicon-chevron-right
		.col-md-4
			.page-header
				h2 Already a member?
			p If you are already a member you can just login...
			include ../../login/views/partials/form.pug
