extends /src/views/base.pug

block navbar

block contents
	.row
		.col-md-12
			h2
				strong #{ Options( 'organisation' ) }
				br
				| #{ Options( 'software-name' ) }
			h4 #{ Options( 'home-text' ) }
			p: a( href=Options( 'home-link-url' ), target="_blank").btn #{ Options( 'home-link-text' ) }
			.bg
	.row
		if Options( 'signup-closed' ) == 'false'
			.col-md-6
				+page_header( 'New member' )
				p Becoming a new member is straightforward. Click below to get started. 
				a( href="/join" ).btn.btn-primary Join
		.col-md-6
			+page_header( 'Existing member' )
			include /apps/login/views/partials/form.pug
		if Options( 'signup-closed' ) == 'true'
			.col-md-6
				+page_header( 'Membership closed' )
				p Unfortunately we are currently not taking new membership signups.
				a( href=Options( 'signup-redirect' ) ).btn.btn-default Find out more
		
