extends ../../../src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeApp = 'members'

block append js
	script( src="/js/filter.js" )

block contents
	.row
		.col-md-3
			input( placeholder="Filter" )#filter.form-control
		if access == 'superadmin'
			.col-md-3
				if inactive_members
					a( href='?' + ( filter_permission != null ? 'permission=' + filter_permission.slug + '&' : '' ) + 'inactive_members' ).btn.btn-default
						span.glyphicon.glyphicon-unchecked
						|  Show inactive members
				else 
					a( href='?' + ( filter_permission != null ? 'permission=' + filter_permission.slug : '' ) ).btn.btn-success
						span.glyphicon.glyphicon-check
						|  Showing inactive members
		.col-md-3
			.dropdown
				button( type="button", data-toggle="dropdown", class=( filter_permission != null ? 'btn-success' : 'btn-default' ) ).btn.dropdown-toggle#permissions_filter #{ filter_permission != null ? filter_permission.name : 'Permissions' }&nbsp;
					span.caret
				ul.dropdown-menu.dropdown-menu-left
					li: a( href="?permission=" + ( inactive_members ? '&inactive_members' : '' ) ) Show all
					li.divider
					each permission, p in permissions
						li: a( href="?permission=" + permission.slug + ( inactive_members ? '&inactive_members' : '' ) ) #{ permission.name }
	hr
	if members.length > 0
		p Members: 
			span.member_count #{ members.length }
		hr
		table.table.table-striped.table-hover.table-condensed
			thead
				tr
					th Gravatar
					th First name
					th Last name
					if access.indexOf( 'admin' ) != -1
						th Email
					th Joined
					if access == 'superadmin'
						th( colspan="7" ) Manage
					else if access.indexOf( 'admin' ) != -1
						th Manage
			tbody
				each member, m in members
					tr( data-href="/members/" + member.uuid, style="cursor: pointer;" )
						td: img( style="border-radius: 100%", src=member.gravatar + "?s=50&d=mm&r=g" )
						td #{ member.firstname }
						td #{ member.lastname }
						if access.indexOf( 'admin' ) != -1
							td #{ member.email }
						td #{ moment( member.joined ).format( 'DD/MM/YYYY' ) }
						if access == 'superadmin'
							td: a.btn.btn-sm( title="Edit Activation", href="/members/" + member.uuid + "/activation", class=( member.activated ? 'btn-success' : 'btn-default' ) )
								span.glyphicon.glyphicon-ok
							td: a.btn.btn-sm.btn-default( title="Edit Profile", href="/members/" + member.uuid + "/update" )
								span.glyphicon.glyphicon-pencil
							td: a.btn.btn-sm( title="Edit Discourse" href="/members/" + member.uuid + "/discourse", class=( member.discourse.activated ? 'btn-success' : 'btn-default' ) )
								span.glyphicon.glyphicon-book
							td: a.btn.btn-sm( title="Edit GoCardless" href="/members/" + member.uuid + "/gocardless", class=( member.discourse.activated ? 'btn-success' : 'btn-default' ) )
								span.glyphicon.glyphicon-piggy-bank
							td: a.btn.btn-sm( title="Edit Tag" href="/members/" + member.uuid + "/tag", class=( member.tag.id ? 'btn-success' : 'btn-default' ) )
								span.glyphicon.glyphicon-credit-card
							td: a.btn.btn-sm( title="Edit 2FA", href="/members/" + member.uuid + "/2fa", class=( member.otp.activated ? 'btn-success' : 'btn-default' ) )
								span.glyphicon.glyphicon-lock
						if access.indexOf( 'admin' ) != -1
							td: a.btn.btn-sm.btn-default( title="Edit Permissions" href="/members/" + member.uuid + "/permissions" )
								span.glyphicon.glyphicon-tag
	else
		p No members found.
