extends ../../../src/views/base.pug

block prepend title
	- title = 'Member'
	- activeApp = 'members'

block contents
	.row
		.col-md-2
			img( style="border-radius: 100%", src=member.gravatar + "?s=150&d=mm&r=g" )
		.col-md-10
			.page-header
				h2 #{ member.fullname }
				
			dl.dl-horizontal
				if member.discourse.activated && discourse != undefined
					dt Discourse
					dd: a( target="_blank", href=discourse_path + '/users/' + discourse.user.username ) @#{ discourse.user.username }
				dt Emergency Contact
				if member.emergency_contact.telephone
					dd On file
				else
					dd Not held
	if access.indexOf( 'admin' ) != -1
		.row
			.col-md-6
				.page-header
					h3 Profile
						if access == 'superadmin'
							a( href="/members/" + member.uuid + "/profile" ).btn.btn-default.pull-right
								span.glyphicon.glyphicon-pencil
								|  Edit Profile
				dl.dl-horizontal
					dt First Name
					dd  #{ member.firstname }
					dt Last Name
					dd  #{ member.lastname }
					dt Email
					dd  #{ member.email }
					if access == 'superadmin'
						dt Address
						dd #{ member.address.replace( /\r\n/g, ", " ) }
						dt Latitude
						dd #{ member.postcode_coordinates.lat ? member.postcode_coordinates.lat : '–' }
						dt Longitude
						dd #{ member.postcode_coordinates.lng ? member.postcode_coordinates.lng : '–' }
			if access == 'superadmin'
				.col-md-6
					.page-header
						h3( style="padding-top: 6px;" ) Emergency Contact
					dl.dl-horizontal
						dt First Name
						dd #{ member.emergency_contact.firstname ? member.emergency_contact.firstname : '–'  }
						dt Last Name
						dd #{ member.emergency_contact.lastname ? member.emergency_contact.lastname : '–'  }
						dt Telephone
						dd #{ member.emergency_contact.telephone ? member.emergency_contact.telephone : '–'  }
		.row
			.col-md-6
				.page-header
					h3 System
						if access == 'superadmin'
							.btn-group.pull-right
								a( href="/members/" + member.uuid + "/activation" ).btn.btn-default
									span.glyphicon.glyphicon-ok
									|  Edit Activation
								a( href="/members/" + member.uuid + "/2fa" ).btn.btn-default
									span.glyphicon.glyphicon-lock
									|  Edit 2FA
				dl.dl-horizontal
					dt UUID
					dd #{ member.uuid }
					if access == 'superadmin'
						dt DB ID
						dd #{ member._id }
					dt Joined
					dd #{ moment( member.joined ).format( 'HH:mm:ss DD/MM/YYYY' ) }
					dt Last seen
					dd #{ member.last_seen ? moment( member.last_seen ).format( 'HH:mm:ss DD/MM/YYYY' ) : '–' }
					dt Activated
					dd #{ member.activated ? 'Yes' : 'No' }
					if access == 'superadmin'
						dt Activation Code
						dd #{ member.activation_code ? member.activation_code + ' – ' + audience + '/activate/' + member.activation_code : '–' }
						dt Password Reset Code
						dd #{ member.password.reset_code ? member.password.reset_code + ' – ' + audience + '/password-reset/' + member.password.reset_code : '–' }
						dt Password Tries
						dd #{ member.password.tries ? member.password.tries : '–' } #{ member.password.tries >= password_tries ? ' – Locked Out' : '' }
						dt 2FA
						dd #{ member.otp.activated ? 'Enabled' : 'Disabled' }
			if access == 'superadmin'
				.col-md-6
					.page-header
						h3 Tag
							if access == 'superadmin'
								a( href="/members/" + member.uuid + "/tag" ).btn.btn-default.pull-right
									span.glyphicon.glyphicon-pencil
									|  Edit Tag
					dl.dl-horizontal
						dt Tag
						dd #{ member.tag.id ? member.tag.id : '–' }
						dt Hashed Tag
						dd #{ member.tag.hashed ? member.tag.hashed : '–' }
		if access == 'superadmin'
			.row
				.col-md-6
					.page-header
						h3 Discourse
							a( href="/members/" + member.uuid + "/discourse" ).btn.btn-default.pull-right
								span.glyphicon.glyphicon-pencil
								|  Edit Discourse
					dl.dl-horizontal
						dt Username
						dd #{ member.discourse.username ? member.discourse.username : '–' }
						dt Activated
						dd #{ member.discourse.activated ? 'Yes' : 'No' }
						dt Activation Code
						dd #{ member.discourse.activation_code ? member.discourse.activation_code : '–' } #{ member.discourse.activation_code ? audience + '/profile/discourse?code=' + member.discourse.activation_code : '' }
				.col-md-6
					.page-header
						h3 GoCardless
							a( href="/members/" + member.uuid + "/gocardless" ).btn.btn-default.pull-right
								span.glyphicon.glyphicon-pencil
								|  Edit GoCardless
					dl.dl-horizontal
						dt Mandate ID
						if member.gocardless.mandate_id
							dd: a( href="https://manage.gocardless.com/mandates/" + member.gocardless.mandate_id ) #{ member.gocardless.mandate_id }
						else
							dd –
						dt Subscription ID
						if member.gocardless.subscription_id
							dd: a( href="https://manage.gocardless.com/subscriptions/" + member.gocardless.subscription_id ) #{ member.gocardless.subscription_id }
						else
							dd –
						dt Minimum
						dd #{ member.gocardless.minimum ? '£' + member.gocardless.minimum : '–' }
						if member.gocardless.next_possible_charge_date
							dt Earliest charge date
							dd #{ moment( member.gocardless.next_possible_charge_date ).format( 'DD/MM/YYYY' ) }
	.row
		.col-md-12
			.page-header
				h3 Permissions
					if access.indexOf( 'admin' ) != -1
						a( href="/members/" + member.uuid + "/permissions" ).btn.btn-default.pull-right
							span.glyphicon.glyphicon-pencil
							|  Edit Permissions
			if member.permissions.length > 0
				.list-group
					each permission, p in member.permissions
						include ../../../src/views/partials/permission.pug
			else
				p Member has no permissions
	if access == 'superadmin'
		.row
			.col-md-12
				.page-header
					h3 Payments
				if payments.length > 0
					table.table.table-striped.table-condensed
						thead
							tr
								th Payment ID
								th Subscription ID
								th Created
								th Updated
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									td
										a( href="https://manage.gocardless.com/payments/" + payment.payment_id ) #{ payment.payment_id }
									td 
										a( href="https://manage.gocardless.com/subscriptions/" + payment.subscription_id ) #{ payment.subscription_id }
									td #{ moment( payment.created ).format( 'HH:mm:ss DD/MM/YYYY' ) }
									td #{ payment.amount ? moment( payment.updated ).format( 'HH:mm:ss DD/MM/YYYY' ) : '–' }
									td #{ moment( payment.charge_date ).format( 'DD/MM/YYYY' ) }
									td #{ payment.description }
									td
										include ../../profile/apps/statement/views/partials/status.pug
									td #{ payment.amount ? '£' + payment.amount : '–' }
						tfoot
							tr
								th( colspan=7 ) Total
								th £ #{ total }
				else
					p Member has no payment history
