extends /src/views/base.pug

block prepend title
	- title = 'Export'
	- activeapp = 'exports'


block contents
	.row
		.col-md-12
			+page_header(exportDetails.description)
			p.
				#{exportType.name}, created
				#{moment(exportDetails.date).format('DD/MM/YYYY [at] HH:mm')}
	.row
		.col-md-8
			form(method='POST')
				+csrf
				input(type='hidden', name='action', value='delete')
				button.btn.btn-danger.outline Delete

			hr

			h3 New members
			if newMembers.length > 0
				p Found #{newMembers.length} members not previously in the export
				form(method='POST')
					+csrf
					input(type='hidden', name='action', value='add')
					button.btn Add

				h4 Member list
				table.table.table-striped.table-condensed
					thead
						tr
							th Name
							th Email
					tbody
						each member in newMembers
							tr
								td #[a(href='/members/' + member.uuid) #{member.fullname}]
								td= member.email
			else
				p All eligible members are in export

			hr

			h3 Run export
			p Export a CSV of all members with a given status
			form(method='POST', target='_blank').form-horizontal
				+csrf
				input(type='hidden', name='action', value='export')

				.form-group
					label(for='status').form-label.col-md-3 Status
					.col-md-4
						select(id='status', name='status').form-control
							option(value='') -- All --
							each status in exportType.statuses
								option= status

				button.btn Export

			hr

			h3 Update export members
			p There are #{exportMembers.length} members in export
			form(method='POST').form-horizontal
				+csrf
				input(type='hidden', name='action', value='update')

				.form-group
					label(for='old_status').form-label.col-md-3 Old status
					.col-md-4
						select(id='old_status', name='old_status').form-control
							option(value='') -- All --
							each status in exportType.statuses
								option= status

				.form-group
					label(for='new_status').form-label.col-md-3 New status
					.col-md-4
						select(id='new_status', name='status').form-control
							each status in exportType.statuses
								option= status

				button.btn Update

			hr

			h4 Member list
			table.table.table-striped.table-condensed
				thead
					tr
						th Name
						th Email
						th Status
				tbody
					each member in exportMembers
						tr
							td #[a(href='/members/' + member.uuid) #{member.fullname}]
							td= member.email
							td= member.currentExport.status
