extends /src/views/base.pug

block prepend title
	- title = 'Export'
	- activeapp = 'exports'


block contents
	.row
		.col-md-12
			+page_header(exportDetails.description)
			p.
				#{exportType.name}, created
				#{moment(exportDetails.date).format('DD/MM/YYYY [at] HH:mm')}

			p
				| There are #{exportItems.length} #{exportType.itemName} in this export.
				|
				| (
				each status in exportItemStatuses
					= status.name
					| :
					|
					= status.count
					| ,
					|
				| )

	.row
		.col-md-8
			hr

			h3 New #{exportType.itemName}
			if newItems.length > 0
				p Found #{newItems.length} #{exportType.itemName} not previously in the export
				form(method='POST')
					+csrf
					input(type='hidden', name='action', value='add')
					button.btn Add

				//- TODO: table view
			else
				p All eligible #{exportType.itemName} are in export

			hr

			h3 Run export
			p Export a CSV of all #{exportType.itemName} with a given status
			form(method='POST', target='_blank').form-horizontal
				+csrf
				input(type='hidden', name='action', value='export')

				.form-group
					label(for='status').form-label.col-md-3 Status
					.col-md-4
						select(id='status', name='status').form-control
							option(value='') -- All --
							each status in exportType.statuses
								option= status

				button.btn Export

			hr

			h3 Update #{exportType.itemName}
			form(method='POST').form-horizontal
				+csrf
				input(type='hidden', name='action', value='update')

				.form-group
					label(for='old_status').form-label.col-md-3 Old status
					.col-md-4
						select(id='old_status', name='old_status').form-control
							each status in exportType.statuses
								option= status

				.form-group
					label(for='new_status').form-label.col-md-3 New status
					.col-md-4
						select(id='new_status', name='status').form-control
							each status in exportType.statuses
								option= status

				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed

				button.btn Update

			hr

			h3 Delete export

			form(method='POST')
				+csrf
				input(type='hidden', name='action', value='delete')
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button.btn.btn-danger.outline Delete
