extends ../../../src/views/base.pug

block prepend title
	- title = "Edit Profile"

block contents
	.row
		.col-md-3
			- page = 'profile'
			include partials/sidebar.pug
		.col-md-9
			.page-header
				h3 Edit Profile
			form( method="post" ).form-horizontal
				include ../../../src/views/partials/csrf.pug
				.form-group
					label.col-md-3.control-label Avatar
					.col-md-5
						img( style="border-radius: 100%", src=user.gravatar + "?s=50&d=mm&r=g" )
						span.help-block Your avatar is managed at
							| 
							a( href="https://gravatar.com", target="_blank" ) Gravatar.com
							|  using your email address #{ user.email }
				hr
				.form-group
					label( for="email" ).col-md-3.control-label Email
					.col-md-5
						input( type="email", value=user.email, name="email", required, disabled )#email.form-control
						span.help-block #{ Options( 'content-email-admin' ) }
				hr
				.form-group
					label( for="firstname" ).col-md-3.control-label First Name
					.col-md-5
						input( type="text", value=user.firstname, name="firstname", required )#firstname.form-control
				.form-group
					label( for="lastname" ).col-md-3.control-label Last Name
					.col-md-5
						input( type="text", value=user.lastname, name="lastname", required )#lastname.form-control
				.form-group
					label( for="address" ).col-md-3.control-label Address
					.col-md-5
						textarea( rows="4", name="address", required )#address.form-control #{ user.address }
				.form-group
					.col-md-5.col-md-offset-3
						button.btn.btn-primary Update
