extends /src/views/base.pug

block prepend title
	- title = app.title
	- activeapp = 'reports'

block append js
	script( src="/js/chart.js" )
	script
		| var data = !{ JSON.stringify( data ) };
		| var labels = !{ JSON.stringify( labels ) };
	script.
		jQuery( document ).ready( function() {
			var canvas = jQuery( '#chart' );
			var chart = new Chart( canvas, {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label: 'Unique member visits',
						data: data,
						backgroundColor: 'rgba( 255, 0, 0, .2 )',
						borderColor: 'rgba( 255, 0, 0, .8 )',
						borderWidth: 1
					}]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}],
						xAxes: [{
							type: 'time',
							time: {
								unit: 'week',
								tooltipFormat: 'ddd Do MMM'
							}
						}]
					}
				}
			} );
		} );

block contents
	.row
		.col-md-3
			h3( style="margin-bottom: 0; font-weight: normal;" ) Days:
			h1( style="margin-top: 0; margin-bottom: 0;" ) #{ moment( start ).format( 'YYYY' ) }
			nav( aria-label="..." )
				ul.pager
					li.previous
						a( href="/reports/events/" + slug + "/days/" + moment( previous ).format( 'Y' ) )
							span( aria-hidden="true" ) &larr;&nbsp;
							| #{ moment( previous ).format( 'YYYY' ) }
					li.next
						a( href="/reports/events/" + slug + "/days/" + moment( next ).format( 'Y' ) ) #{ moment( next ).format( 'YYYY' ) }
							span( aria-hidden="true" ) &nbsp;&rarr;

		.col-md-9
			if ( result != undefined && result.length > 0 )
				ul.list-group: li.list-group-item.list-group-item-default Number of unique members using "#{ slug }" on each day in #{ moment( start ).format( 'YYYY' ) }.
				canvas#chart
				.table-responsive
					table.table.table-striped.table-condensed
						thead
							tr
								th Period
								th Count
						tbody
							each day, d in result
								tr
									td
										| #{ moment( start ).dayOfYear( day.day ).format( 'DD/MM/YYYY' )  }
									td #{ day.count }
						tfoot
							tr
								th Total
								th #{ total }
			else
				+messageBlock( 'info', 'There are no events to count.' )
